html, body {
    background-image: url(../on-par-frontend/images/blue.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: 'Trocchi', serif;
}

h1 {
    text-align: center;
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0; 
}

div {
    text-align: center;
    align-content: center;
    margin: auto;
}

body {
    background-attachment: fixed;
    background-size: cover;
    color: #191970;
    font-family: 'Roboto Slab', serif;
    line-height: 18px;
    align-content: center;
    width: 100%;
    margin: 0 auto;
  }

button {
    display: inline-block;
    text-align: center;
    align-content: center;
    margin: auto;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#5a1be0;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    
}

li {
    list-style: none;
    align-content: center;
    text-align: center;
}

form {
    padding: 15px;
    width: 100%;
    background-color: rgba(236, 236, 236, 0.897);
}

.wrapper {
    border-radius: 2px;
    padding: 1px 20px;
    background-color: #f5fffa;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: auto;
    width: 85%;
}

.wrapper nav {
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
